{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tierlist.css'%}">
    <title>LOLTrack</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a href="/"><img src="{% static 'assets/img/logo.png'%}" alt=""> </a>
    <a class="navbar-brand" href="/">LOLTrack</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/tierlist">Tier List <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/champions">Champions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/live">Live Games</a>
      </li>
    </ul>
    <form action="{% url 'player' %}" method="get" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" name="summoner_name" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<h1> Tier List</h1>

<div id="board">
    <div class="column">
        <div class="label" id="label1"> S</div>
    </div>

    <div class="column">
        <div class="label" id="label2" > A</div>
    </div>

    <div class="column">
        <div class="label" id="label3"> B</div>
    </div>

    <div class="column">
        <div class="label" id="label4"> C</div>
    </div>

    <div class="column">
        <div class="label" id="label5"> D</div>
    </div>
    <div class="column">
        <div class="label" id="label6"> E</div>
    </div>
</div>

<h2>Card Bank</h2>
<div id="bank">
    <div class="card"  id="aatrox"draggable="true"><img  src="{% static 'assets/img/champs/aatrox.jpg' %}">AATROX</div>
    <div class="card"  id="ahir"draggable="true"><img  src="{% static 'assets/img/champs/ahri.jpg' %}">AHRI</div>
    <div class="card"  id="akali"draggable="true"><img  src="{% static 'assets/img/champs/akali.jpg' %}">AKALI</div>
    <div class="card"  id="akshan"draggable="true"><img  src="{% static 'assets/img/champs/akshan.jpg' %}">AKSHAN</div>
    <div class="card"  id="alistar"draggable="true"><img  src="{% static 'assets/img/champs/alistar.jpg' %}">ALISTAR</div>
    <div class="card"  id="amumu"draggable="true"><img  src="{% static 'assets/img/champs/amumu.jpg' %}">AMUMU</div>
    <div class="card"  id="anivia"draggable="true"><img  src="{% static 'assets/img/champs/anivia.jpg' %}">ANIVIA</div>
    <div class="card"  id="annie"draggable="true"><img  src="{% static 'assets/img/champs/annie.jpg' %}">ANNIE</div>
    <div class="card"  id="aphelios"draggable="true"><img  src="{% static 'assets/img/champs/aphelios.jpg' %}">APHELIOS</div>
    <div class="card"  id="ashe"draggable="true"><img  src="{% static 'assets/img/champs/ashe.jpg' %}">ASHE</div>
    <div class="card"  id="aurelionsol"draggable="true"><img  src="{% static 'assets/img/champs/aurelionsol.jpg' %}">AURELION</div>
    <div class="card"  id="azir"draggable="true"><img  src="{% static 'assets/img/champs/azir.jpg' %}">AZIR</div>
    <div class="card"  id="bard"draggable="true"><img  src="{% static 'assets/img/champs/bard.jpg' %}">BARD</div>

    <div class="card"  id="blitz"draggable="true"><img  src="{% static 'assets/img/champs/blitzcrank.jpg' %}">BLITZCRANK</div>
    <div class="card"  id="brand"draggable="true"><img  src="{% static 'assets/img/champs/brand.jpg' %}">BRAND</div>
    <div class="card"  id="braum"draggable="true"><img  src="{% static 'assets/img/champs/braum.jpg' %}">BRAUM</div>
    <div class="card"  id="caitlyn"draggable="true"><img  src="{% static 'assets/img/champs/caitlyn.jpg' %}">CAITLYN</div>
    <div class="card"  id="cammille"draggable="true"><img  src="{% static 'assets/img/champs/camille.jpg' %}">CAMILLE</div>
    <div class="card"  id="cassio"draggable="true"><img  src="{% static 'assets/img/champs/cassiopeia.jpg' %}">CASSIOPEIA</div>
    <div class="card"  id="chogath"draggable="true"><img  src="{% static 'assets/img/champs/chogath.jpg' %}">CHO'GATH</div>
    <div class="card"  id="corki"draggable="true"><img  src="{% static 'assets/img/champs/corki.jpg' %}">CORKI</div>
    <div class="card"  id="darius"draggable="true"><img  src="{% static 'assets/img/champs/darius.jpg' %}">DARIUS</div>
    <div class="card"  id="diana"draggable="true"><img  src="{% static 'assets/img/champs/diana.jpg' %}">DIANA</div>
    <div class="card"  id="draven"draggable="true"><img  src="{% static 'assets/img/champs/draven.jpg' %}">DRAVEN</div>
    <div class="card"  id="mundo"draggable="true"><img  src="{% static 'assets/img/champs/drmundo.jpg' %}">DR MUNDO</div>
    <div class="card"  id="ekko"draggable="true"><img  src="{% static 'assets/img/champs/ekko.jpg' %}">EKKO</div>

    <div class="card"  id="elise"draggable="true"><img  src="{% static 'assets/img/champs/elise.jpg' %}">ELISE</div>
    <div class="card"  id="evelyn"draggable="true"><img  src="{% static 'assets/img/champs/evelynn.jpg' %}">EVELYNN</div>
    <div class="card"  id="ezreal"draggable="true"><img  src="{% static 'assets/img/champs/ezreal.jpg' %}">EZREAL</div>
    <div class="card"  id="fiddlesticks"draggable="true"><img  src="{% static 'assets/img/champs/fiddlesticks.jpg' %}">FIDDLESTICKS</div>
    <div class="card"  id="fiora"draggable="true"><img  src="{% static 'assets/img/champs/fiora.jpg' %}">FIORA</div>
    <div class="card"  id="fizz"draggable="true"><img  src="{% static 'assets/img/champs/fizz.jpg' %}">FIZZ</div>
    <div class="card"  id="galio"draggable="true"><img  src="{% static 'assets/img/champs/galio.jpg' %}">GALIO</div>
    <div class="card"  id="gangplank"draggable="true"><img  src="{% static 'assets/img/champs/gangplank.jpg' %}">GANGPLANK</div>
    <div class="card"  id="garen"draggable="true"><img  src="{% static 'assets/img/champs/garen.jpg' %}">GAREN</div>
    <div class="card"  id="gnar"draggable="true"><img  src="{% static 'assets/img/champs/gnar.jpg' %}">GNAR</div>
    <div class="card"  id="gragas"draggable="true"><img  src="{% static 'assets/img/champs/gragas.jpg' %}">GRAGAS</div>
    <div class="card"  id="graves"draggable="true"><img  src="{% static 'assets/img/champs/graves.jpg' %}">GRAVES</div>
    <div class="card"  id="gwen"draggable="true"><img  src="{% static 'assets/img/champs/gwen.jpg' %}">GWEN</div>

    <div class="card"  id="hecarim"draggable="true"><img  src="{% static 'assets/img/champs/hecarim.jpg' %}">HECARIM</div>
    <div class="card"  id="heimer"draggable="true"><img  src="{% static 'assets/img/champs/heimerdinger.jpg' %}">HEIMERDINGER</div>
    <div class="card"  id="illaoi"draggable="true"><img  src="{% static 'assets/img/champs/illaoi.jpg' %}">ILLAOI</div>
    <div class="card"  id="irelia"draggable="true"><img  src="{% static 'assets/img/champs/irelia.jpg' %}">IRELIA</div>
    <div class="card"  id="ivern"draggable="true"><img  src="{% static 'assets/img/champs/ivern.jpg' %}">IVERN</div>
    <div class="card"  id="janna"draggable="true"><img  src="{% static 'assets/img/champs/janna.jpg' %}">JANNA</div>
    <div class="card"  id="jarviniv"draggable="true"><img  src="{% static 'assets/img/champs/jarvaniv.jpg' %}">JARVIN IV</div>
    <div class="card"  id="jax"draggable="true"><img  src="{% static 'assets/img/champs/jax.jpg' %}">JAX</div>
    <div class="card"  id="jayce"draggable="true"><img  src="{% static 'assets/img/champs/jayce.jpg' %}">JAYCE</div>
    <div class="card"  id="jhin"draggable="true"><img  src="{% static 'assets/img/champs/jhin.jpg' %}">JHIN</div>
    <div class="card"  id="jinx"draggable="true"><img  src="{% static 'assets/img/champs/jinx.jpg' %}">JINX</div>
    <div class="card"  id="kaisa"draggable="true"><img  src="{% static 'assets/img/champs/Kaisa.jpg' %}">KAI'SA</div>
    <div class="card"  id="kalista"draggable="true"><img  src="{% static 'assets/img/champs/kalista.jpg' %}">KALISTA</div>

    <div class="card"  id="karma"draggable="true"><img  src="{% static 'assets/img/champs/karma.jpg' %}">KARMA</div>
    <div class="card"  id="karthus"draggable="true"><img  src="{% static 'assets/img/champs/karthus.jpg' %}">KARTHUS</div>
    <div class="card"  id="kassadin"draggable="true"><img  src="{% static 'assets/img/champs/kassadin.jpg' %}">KASSADIN</div>
    <div class="card"  id="katarina"draggable="true"><img  src="{% static 'assets/img/champs/katarina.jpg' %}">KATARINA</div>
    <div class="card"  id="kayle"draggable="true"><img  src="{% static 'assets/img/champs/kayle.jpg' %}">KAYLE</div>
    <div class="card"  id="kayn"draggable="true"><img  src="{% static 'assets/img/champs/kayn.jpg' %}">KAYN</div>
    <div class="card"  id="kennen"draggable="true"><img  src="{% static 'assets/img/champs/kennen.jpg' %}">KENNEN</div>
    <div class="card"  id="khazics"draggable="true"><img  src="{% static 'assets/img/champs/khazix.jpg' %}">KHA'ZICS</div>
    <div class="card"  id="kindred"draggable="true"><img  src="{% static 'assets/img/champs/kindred.jpg' %}">KINDRED</div>
    <div class="card"  id="kled"draggable="true"><img  src="{% static 'assets/img/champs/kled.jpg' %}">KLED</div>
    <div class="card"  id="kogmaw"draggable="true"><img  src="{% static 'assets/img/champs/kogmaw.jpg' %}">KOG'MAW</div>
    <div class="card"  id="lebanc"draggable="true"><img  src="{% static 'assets/img/champs/leblanc.jpg' %}">LE BLANC</div>
    <div class="card"  id="leesin"draggable="true"><img  src="{% static 'assets/img/champs/leesin.jpg' %}">LEE SIN</div>

    <div class="card"  id="leona"draggable="true"><img  src="{% static 'assets/img/champs/leona.jpg' %}">LEONA</div>
    <div class="card"  id="lilia"draggable="true"><img  src="{% static 'assets/img/champs/lillia.jpg' %}">LILLIA</div>
    <div class="card"  id="lissandra"draggable="true"><img  src="{% static 'assets/img/champs/lissandra.jpg' %}">LISSANDRA</div>
    <div class="card"  id="lucian"draggable="true"><img  src="{% static 'assets/img/champs/lucian.jpg' %}">LUCIAN</div>
    <div class="card"  id="lulu"draggable="true"><img  src="{% static 'assets/img/champs/lulu.jpg' %}">LULU</div>
    <div class="card"  id="lux"draggable="true"><img  src="{% static 'assets/img/champs/lux.jpg' %}">LUX</div>
    <div class="card"  id="malphite"draggable="true"><img  src="{% static 'assets/img/champs/malphite.jpg' %}">MALPHITE</div>
    <div class="card"  id="malzahar"draggable="true"><img  src="{% static 'assets/img/champs/malzahar.jpg' %}">MALZAHAR</div>
    <div class="card"  id="maokai"draggable="true"><img  src="{% static 'assets/img/champs/maokai.jpg' %}">MAOKAI</div>
    <div class="card"  id="masteryi"draggable="true"><img  src="{% static 'assets/img/champs/masteryi.jpg' %}">MASTER YI</div>
    <div class="card"  id="missfortune"draggable="true"><img  src="{% static 'assets/img/champs/missfortune.jpg' %}">FORTUNE</div>
    <div class="card"  id="wukong"draggable="true"><img  src="{% static 'assets/img/champs/monkeyking.jpg' %}">WUKONG</div>
    <div class="card"  id="mordekaiser"draggable="true"><img  src="{% static 'assets/img/champs/mordekaiser.jpg' %}">MORDEKAISER</div>

    <div class="card"  id="morgana"draggable="true"><img  src="{% static 'assets/img/champs/morgana.jpg' %}">MORGANA</div>
    <div class="card"  id="nami"draggable="true"><img  src="{% static 'assets/img/champs/nami.jpg' %}">NAMI</div>
    <div class="card"  id="nasus"draggable="true"><img  src="{% static 'assets/img/champs/nasus.jpg' %}">NASUS</div>
    <div class="card"  id="nautilis"draggable="true"><img  src="{% static 'assets/img/champs/nautilus.jpg' %}">NAUTILIS</div>
    <div class="card"  id="neeko"draggable="true"><img  src="{% static 'assets/img/champs/neeko.jpg' %}">NEEKO</div>
    <div class="card"  id="nidalee"draggable="true"><img  src="{% static 'assets/img/champs/nidalee.jpg' %}">NIDALEE</div>
    <div class="card"  id="nocturne"draggable="true"><img  src="{% static 'assets/img/champs/nocturne.jpg' %}">NOCTURNE</div>
    <div class="card"  id="nunu"draggable="true"><img  src="{% static 'assets/img/champs/nunu.jpg' %}">NUNU</div>
    <div class="card"  id="olaf"draggable="true"><img  src="{% static 'assets/img/champs/olaf.jpg' %}">OLAF</div>
    <div class="card"  id="orianna"draggable="true"><img  src="{% static 'assets/img/champs/orianna.jpg' %}">ORIANNA</div>
    <div class="card"  id="ornn"draggable="true"><img  src="{% static 'assets/img/champs/ornn.jpg' %}">ORNN</div>
    <div class="card"  id="pantheon"draggable="true"><img  src="{% static 'assets/img/champs/pantheon.jpg' %}">PANTHEON</div>
    <div class="card"  id="poppy"draggable="true"><img  src="{% static 'assets/img/champs/poppy.jpg' %}">POPPY</div>
    <div class="card"  id="pyke"draggable="true"><img  src="{% static 'assets/img/champs/pyke.jpg' %}">PYKE</div>
    <div class="card"  id="qiyana"draggable="true"><img  src="{% static 'assets/img/champs/qiyana.jpg' %}">QIYANA</div>
    <div class="card"  id="quinn"draggable="true"><img  src="{% static 'assets/img/champs/quinn.jpg' %}">QUINN</div>
    <div class="card"  id="rakan"draggable="true"><img  src="{% static 'assets/img/champs/rakan.jpg' %}">RAKAN</div>
    <div class="card"  id="rammus"draggable="true"><img  src="{% static 'assets/img/champs/rammus.jpg' %}">RAMMUS</div>
    <div class="card"  id="reksai"draggable="true"><img  src="{% static 'assets/img/champs/reksai.jpg' %}">REK'SAI</div>
    <div class="card"  id="rell"draggable="true"><img  src="{% static 'assets/img/champs/rell.jpg' %}">RELL</div>
    <div class="card"  id="renata"draggable="true"><img  src="{% static 'assets/img/champs/renata.jpg' %}">RENATA</div>
    <div class="card"  id="renekton"draggable="true"><img  src="{% static 'assets/img/champs/renekton.jpg' %}">RENEKTON</div>
    <div class="card"  id="rengar"draggable="true"><img  src="{% static 'assets/img/champs/rengar.jpg' %}">RENGAR</div>
    <div class="card"  id="riven"draggable="true"><img  src="{% static 'assets/img/champs/riven.jpg' %}">RIVEN</div>
    <div class="card"  id="rumble"draggable="true"><img  src="{% static 'assets/img/champs/rumble.jpg' %}">RUMBLE</div>
    <div class="card"  id="ryze"draggable="true"><img  src="{% static 'assets/img/champs/ryze.jpg' %}">RYZE</div>
    <div class="card"  id="samira"draggable="true"><img  src="{% static 'assets/img/champs/samira.jpg' %}">SAMIRA</div>

    <div class="card"  id="sejuani"draggable="true"><img  src="{% static 'assets/img/champs/sejuani.jpg' %}">SEJUANI</div>
    <div class="card"  id="seraphine"draggable="true"><img  src="{% static 'assets/img/champs/seraphine.jpg' %}">SERAPHINE</div>
    <div class="card"  id="sett"draggable="true"><img  src="{% static 'assets/img/champs/sett.jpg' %}">SETT</div>
    <div class="card"  id="shaco"draggable="true"><img  src="{% static 'assets/img/champs/shaco.jpg' %}">SHACO</div>
    <div class="card"  id="shen"draggable="true"><img  src="{% static 'assets/img/champs/shen.jpg' %}">SHEN</div>
    <div class="card"  id="shyvana"draggable="true"><img  src="{% static 'assets/img/champs/shyvana.jpg' %}">SHYVANA</div>
    <div class="card"  id="singed"draggable="true"><img  src="{% static 'assets/img/champs/singed.jpg' %}">SINGED</div>
    <div class="card"  id="sion"draggable="true"><img  src="{% static 'assets/img/champs/sion.jpg' %}">SION</div>
    <div class="card"  id="sivir"draggable="true"><img  src="{% static 'assets/img/champs/sivir.jpg' %}">SIVIR</div>
    <div class="card"  id="skarner"draggable="true"><img  src="{% static 'assets/img/champs/skarner.jpg' %}">SKARNER</div>
    <div class="card"  id="sona"draggable="true"><img  src="{% static 'assets/img/champs/sona.jpg' %}">SONA</div>
    <div class="card"  id="soraka"draggable="true"><img  src="{% static 'assets/img/champs/soraka.jpg' %}">SORAKA</div>
    <div class="card"  id="swain"draggable="true"><img  src="{% static 'assets/img/champs/swain.jpg' %}">SWAIN</div>
    <div class="card"  id="sylas"draggable="true"><img  src="{% static 'assets/img/champs/sylas.jpg' %}">SYLAS</div>
    <div class="card"  id="syndra"draggable="true"><img  src="{% static 'assets/img/champs/syndra.jpg' %}">SYNDRA</div>
    <div class="card"  id="tahmkench"draggable="true"><img  src="{% static 'assets/img/champs/tahmkench.jpg' %}">TAHM KENCH</div>
    <div class="card"  id="taliyah"draggable="true"><img  src="{% static 'assets/img/champs/taliyah.jpg' %}">TALIYAH</div>
    <div class="card"  id="talon"draggable="true"><img  src="{% static 'assets/img/champs/talon.jpg' %}">TALON</div>
    <div class="card"  id="taric"draggable="true"><img  src="{% static 'assets/img/champs/taric.jpg' %}">TARIC</div>
    <div class="card"  id="teemo"draggable="true"><img  src="{% static 'assets/img/champs/teemo.jpg' %}">TEEMO</div>
    <div class="card"  id="thresh"draggable="true"><img  src="{% static 'assets/img/champs/thresh.jpg' %}">THRESH</div>
    <div class="card"  id="tristana"draggable="true"><img  src="{% static 'assets/img/champs/tristana.jpg' %}">TRISTANA</div>
    <div class="card"  id="trundle"draggable="true"><img  src="{% static 'assets/img/champs/trundle.jpg' %}">TRUNDLE</div>
    <div class="card"  id="trynda"draggable="true"><img  src="{% static 'assets/img/champs/tryndamere.jpg' %}">TRYNDAMERE</div>
    <div class="card"  id="twistedfate"draggable="true"><img  src="{% static 'assets/img/champs/twistedfate.jpg' %}">TWISTED</div>
    <div class="card"  id="twitch"draggable="true"><img  src="{% static 'assets/img/champs/twitch.jpg' %}">TWITCH</div>
    <div class="card"  id="udyr"draggable="true"><img  src="{% static 'assets/img/champs/udyr.jpg' %}">UDYR</div>

    <div class="card"  id="urgot"draggable="true"><img  src="{% static 'assets/img/champs/urgot.jpg' %}">URGOT</div>
    <div class="card"  id="varus"draggable="true"><img  src="{% static 'assets/img/champs/varus.jpg' %}">VARUS</div>
    <div class="card"  id="vayne"draggable="true"><img  src="{% static 'assets/img/champs/vayne.jpg' %}">VAYNE</div>
    <div class="card"  id="veigar"draggable="true"><img  src="{% static 'assets/img/champs/veigar.jpg' %}">VEIGAR</div>
    <div class="card"  id="velkoz"draggable="true"><img  src="{% static 'assets/img/champs/velkoz.jpg' %}">VEL'KOZ</div>
    <div class="card"  id="vex"draggable="true"><img  src="{% static 'assets/img/champs/vex.jpg' %}">VEX</div>
    <div class="card"  id="vi"draggable="true"><img  src="{% static 'assets/img/champs/vi.jpg' %}">VI</div>
    <div class="card"  id="viego"draggable="true"><img  src="{% static 'assets/img/champs/viego.jpg' %}">VIEGO</div>
    <div class="card"  id="viktor"draggable="true"><img  src="{% static 'assets/img/champs/viktor.jpg' %}">VIKTOR</div>
    <div class="card"  id="vladimir"draggable="true"><img  src="{% static 'assets/img/champs/vladimir.jpg' %}">VLADIMIR</div>
    <div class="card"  id="volibear"draggable="true"><img  src="{% static 'assets/img/champs/volibear.jpg' %}">VOLIBEAR</div>
    <div class="card"  id="warwick"draggable="true"><img  src="{% static 'assets/img/champs/warwick.jpg' %}">WARWICK</div>
    <div class="card"  id="xayah"draggable="true"><img  src="{% static 'assets/img/champs/xayah.jpg' %}">XAYAH</div>
    <div class="card"  id="xerath"draggable="true"><img  src="{% static 'assets/img/champs/xerath.jpg' %}">XERATH</div>
    <div class="card"  id="yasuo"draggable="true"><img  src="{% static 'assets/img/champs/yasuo.jpg' %}">YASUO</div>
    <div class="card"  id="yone"draggable="true"><img  src="{% static 'assets/img/champs/yone.jpg' %}">YONE</div>
    <div class="card"  id="yorick"draggable="true"><img  src="{% static 'assets/img/champs/yorick.jpg' %}">YORICK</div>
    <div class="card"  id="yummi"draggable="true"><img  src="{% static 'assets/img/champs/yuumi.jpg' %}">YUMMI</div>
    <div class="card"  id="zac"draggable="true"><img  src="{% static 'assets/img/champs/zac.jpg' %}">ZAC</div>
    <div class="card"  id="zed"draggable="true"><img  src="{% static 'assets/img/champs/zed.jpg' %}">ZED</div>
    <div class="card"  id="zeri"draggable="true"><img  src="{% static 'assets/img/champs/zeri.jpg' %}">ZERI</div>
    <div class="card"  id="ziggs"draggable="true"><img  src="{% static 'assets/img/champs/ziggs.jpg' %}">ZIGGS</div>
    <div class="card"  id="zoe"draggable="true"><img  src="{% static 'assets/img/champs/zoe.jpg' %}">ZOE</div>
    <div class="card"  id="zyra"draggable="true"><img  src="{% static 'assets/img/champs/zyra.jpg' %}">ZYRA</div>

</div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/cards.js'%}"></script>
    <script src="{% static 'assets/js/columns.js'%}"></script>
    <script src="{% static 'assets/js/bank.js'%}"></script>
  </body>
</html>